<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stratis Federated Sidechains Dashboard</title>
    <environment include="Development">
      <link href="~/css/default.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
      <link href="~/css/default.min.css" rel="stylesheet" />
    </environment>
    <link rel="stylesheet" type="text/css" href="~/lib/node-snackbar/dist/snackbar.min.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/nprogress/nprogress.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/@@fortawesome/fontawesome-free/css/all.css" />
    <link rel="icon" type="image/svg" href="~/images/logo.svg" />
</head>
<body>
  <div class="modal fade" data-keyboard="false" data-backdrop="static" id="miningPublicKeys" tabindex="-1" role="dialog" aria-labelledby="miningPublicKeys" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="">Mining Public Keys</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ul class="list-unstyled align-items-center flex-column d-flex">
            @foreach(var miningPubKey in (ViewBag.MiningPubKeys ?? (new string[] {})))
            {
              <li class="py-2">
                <code>@miningPubKey</code>
                <a href="#" class="text-primary ml-2 copy-clipboard">Copy</a>
              </li>
            }
          </ul>
          @if(ViewBag.MiningPubKeys == null)
          {
            <p class="text-center text-muted"><em>Missing Mining Public Keys</em></p>
          }
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary mx-auto" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-purple fixed-top">
    <a class="navbar-brand mr-4" href="https://stratisplatform.com/" target="_blank">
      <img src="~/images/logo_white.svg" width="30" height="30" class="d-inline-block align-top" alt="Stratis" />
    </a>
    <div class="navbar-text text-white">Federation members dashboard for Apex</div>
    <span class="badge badge-purple ml-auto">Status: <span class="status">@(ViewBag.Status ?? "Warning")</span></span>
  </nav>
  <nav class="navbar navbar-light bg-white py-1 fixed-top d-flex align-items-center" style="margin-top:56px;">
    <div class="navbar-text d-inline">
      <ul class="list-inline mb-0 d-flex align-items-center">
        <li class="list-inline-item text-dark">Mainchain wallet address</li>
        <li class="list-inline-item text-truncate">@(ViewBag.MainchainMultisigAddress ?? "Not running")</li>
      </ul>
    </div>
    <div class="navbar-text d-inline">
      <ul class="list-inline mb-0 ml-5 ml-md-2 d-flex align-items-center">
        <li class="list-inline-item text-dark">Apex wallet address</li>
        <li class="list-inline-item text-truncate">@(ViewBag.SidechainMultisigAddress ?? "Not Running")</li>
      </ul>
    </div>
    <div class="navbar-text ml-auto">
      <a data-toggle="modal" data-target="#miningPublicKeys" class="d-flex align-items-center"> Mining Public keys <i class="material-icons md-18 ml-2">open_in_new</i></a>
    </div>
  </nav>
  <section class="container-fluid marginTop" id="container">
    @RenderBody()
  </section>
  <script type="text/javascript" src="~/lib/signalr/dist/browser/signalr.min.js"></script>
  <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="~/lib/popper.js/dist/umd/popper.min.js"></script>
  <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.min.js"></script>
  <script type="text/javascript" src="~/lib/node-snackbar/dist/snackbar.min.js"></script>
  <script type="text/javascript" src="~/lib/nprogress/nprogress.js"></script>
  <environment include="Development">
      <script type="text/javascript" src="~/js/default.js"></script>
  </environment>
  <environment exclude="Development">
      <script type="text/javascript" src="~/js/default.min.js"></script>
  </environment>
  @RenderSection("Scripts", false)
</body>
</html>
