@model BandStatistics
@{
   var id = "bandStatistics_" + Guid.NewGuid().ToString();
}

<table id="@id">
   <tr>
      <th style="width:37%;">
         <p>Chart</p>
      </th>
      <th>
         <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
            <p class="">Received</p>
         </div>
         <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
            <p class="">Sent</p>
         </div>
      </th>
   </tr>
   <tr>
      <td>
         <canvas class="bandStatisticsChart" height="140" width="140" style="margin: 15px 10px 10px 0"></canvas>
      </td>
      <td>
         <table class="tile_info">
            <tr>
               <td><p><i class="fa fa-square blue"></i>Received </p></td>
               <td class="text-nowrap">@Html.PrettySize(Model.Received)</td>
            </tr>
            <tr>
               <td><p><i class="fa fa-square green"></i>Sent </p></td>
               <td class="text-nowrap">@Html.PrettySize(Model.Sent)</td>
            </tr>
         </table>
      </td>
   </tr>
</table>

<script>
   renderBandStatisticsChart('#@id', { Received: @Model.Received, Sent: @Model.Sent});
</script>