@model NodeSettings

@{
   var nodeArgs = Model.NodeArgs;
   ViewData["Title"] = "Node Settings";
}
<div>
   <h1 class="">
      Running on <span class="bg-blue-sky">@nodeArgs.GetNetwork().Name</span> Network
   </h1>
</div>

<div class="row">
   @*Generic*@
   <div class="col-xs-12">
      <div class="x_panel tile">
         <div class="x_title clearfix">
            <h2>Miscellanous</h2>
            <ul class="nav navbar-right panel_toolbox">
               <li>
                  <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
               </li>
            </ul>
         </div>
         <div class="x_content">
            <table class="table-responsive table-striped col-md-12">
               <tr><td>DataDir</td><td>@nodeArgs.DataDir</td></tr>
               <tr><td>Configuration File</td><td>@nodeArgs.ConfigurationFile</td></tr>
               <tr><td>MaxTipAge</td><td>@nodeArgs.MaxTipAge</td></tr>
            </table>
         </div>
      </div>
   </div>
</div>

<div class="row">
   @*ConnectionManager*@
   <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="x_panel tile">
         <div class="x_title clearfix">
            <h2>Connection</h2>
            <ul class="nav navbar-right panel_toolbox">
               <li>
                  <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
               </li>
            </ul>
         </div>
         <div class="x_content">
            <table class="table-responsive table-striped col-md-12">
               <tr>
                  <td>ExternalEndpoint</td>
                  <td>@nodeArgs.ConnectionManager.ExternalEndpoint</td>
               </tr>
               <tr>
                  <th colspan="2" class="tile_header"><div class="mid_center panel-title">-connection</div></th>
               </tr>
               @foreach (var node in @nodeArgs.ConnectionManager.Connect) {
                  <tr>
                     <th>&nbsp;</th>
                     <td>@node.Address.ToString()</td>
                  </tr>
               }
            </table>
         </div>
      </div>
   </div>


   @*ConnectionManager*@
   <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="x_panel tile">
         <div class="x_title clearfix">
            <h2>Store</h2>
            <ul class="nav navbar-right panel_toolbox">
               <li>
                  <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
               </li>
            </ul>
         </div>
         <div class="x_content">
            <table class="table-responsive table-striped col-md-12">
               <tr><td>Prune</td><td>@nodeArgs.Store.Prune</td></tr>
               <tr><td>ReIndex</td><td>@nodeArgs.Store.ReIndex</td></tr>
               <tr><td>TxIndex</td><td>@nodeArgs.Store.TxIndex</td></tr>
            </table>
         </div>
      </div>
   </div>



   @*ConnectionManager*@
   <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="x_panel tile">
         <div class="x_title clearfix">
            <h2>Memory Pool</h2>
            <ul class="nav navbar-right panel_toolbox">
               <li>
                  <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
               </li>
            </ul>
         </div>
         <div class="x_content">
            <table class="table-responsive table-striped col-md-12">
               <tr><th>Enable Replacement</th><td>@nodeArgs.Mempool.EnableReplacement</td></tr>
               <tr><th>Limit Ancestors Count</th><td>@nodeArgs.Mempool.LimitAncestors</td></tr>
               <tr><th>Limit Ancestor Size</th><td>@nodeArgs.Mempool.LimitAncestorSize</td></tr>
               <tr><th>Limit Descendants Count</th><td>@nodeArgs.Mempool.LimitDescendants</td></tr>
               <tr><th>Limit Descendants Size</th><td>@nodeArgs.Mempool.LimitDescendantSize</td></tr>
               <tr><th>Limit Free Relay</th><td>@nodeArgs.Mempool.LimitFreeRelay</td></tr>
               <tr><th>Max Mempool</th><td>@nodeArgs.Mempool.MaxMempool</td></tr>
               <tr><th>Max Orphan Tx Count</th><td>@nodeArgs.Mempool.MaxOrphanTx</td></tr>
               <tr><th>Mempool Expiry</th><td>@nodeArgs.Mempool.MempoolExpiry</td></tr>
               <tr><th>Relay Priority</th><td>@nodeArgs.Mempool.RelayPriority</td></tr>
               <tr><th>Relay Txes</th><td>@nodeArgs.Mempool.RelayTxes</td></tr>
               <tr><th>Whitelist Relay</th><td>@nodeArgs.Mempool.Whitelistrelay</td></tr>
            </table>
         </div>
      </div>
   </div>
</div>

<div class="row">
   <div class="col-xs-12 fixed_height_320">
      <div class="x_panel tile">
         <div class="x_title clearfix">
            <h2>Configuration File Content</h2>
            <ul class="nav navbar-right panel_toolbox">
               <li>
                  <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
               </li>
            </ul>
         </div>
         <div class="x_content">
            <pre class="pre-scrollable">@Model.ConfigurationFileContent</pre>
         </div>
      </div>
   </div>
</div>
