@model LogRulesModel
<div class="modal fade" data-keyboard="false" data-backdrop="static" id="logLevels" tabindex="-1" role="dialog" aria-labelledby="logLevels" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Changing Logging Levels</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @if (Model == null)
                {
                    <p class="text-center text-muted"><em>Unable to fetch Log Levels.</em></p>
                }
                else
                {
                    <div class="row">
                        <ul class="list-unstyled flex-column d-flex col-lg-12">
                            @foreach(var logRule in Model.Rules)
                            {
                                <li class="row pb-1">
                                    <div class="col-lg-6 small pl-5">@logRule.Name</div>
                                    <div class="col-lg-3 text-right">
                                        <button class="btn @(logRule.StratisActualLevel == LogLevel.Trace ? "btn-light":"btn-secondary") btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Main Chain
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item @(logRule.StratisActualLevel == LogLevel.Trace ? "active":"")" data-ajax="true" asp-controller="StratisNode" asp-action="ChangeLogLevelAsync" asp-route-rule="@logRule" asp-route-level="Trace" data-ajax-begin="HideModals" data-ajax-success="LogLevelChanged" data-ajax-failure="LogLevelFailed">Trace</a>
                                            <a class="dropdown-item @(logRule.StratisActualLevel == LogLevel.Debug ? "active":"")" data-ajax="true" asp-controller="StratisNode" asp-action="ChangeLogLevelAsync" asp-route-rule="@logRule" asp-route-level="Debug" data-ajax-begin="HideModals" data-ajax-success="LogLevelChanged" data-ajax-failure="LogLevelFailed">Debug</a>
                                            <a class="dropdown-item @(logRule.StratisActualLevel == LogLevel.Info ? "active":"")" data-ajax="true" asp-controller="StratisNode" asp-action="ChangeLogLevelAsync" asp-route-rule="@logRule" asp-route-level="Info" data-ajax-begin="HideModals" data-ajax-success="LogLevelChanged" data-ajax-failure="LogLevelFailed">Info</a>
                                            <a class="dropdown-item @(logRule.StratisActualLevel == LogLevel.Warn ? "active":"")" data-ajax="true" asp-controller="StratisNode" asp-action="ChangeLogLevelAsync" asp-route-rule="@logRule" asp-route-level="Warn" data-ajax-begin="HideModals" data-ajax-success="LogLevelChanged" data-ajax-failure="LogLevelFailed">Warn</a>
                                            <a class="dropdown-item @(logRule.StratisActualLevel == LogLevel.Error ? "active":"")" data-ajax="true" asp-controller="StratisNode" asp-action="ChangeLogLevelAsync" asp-route-rule="@logRule" asp-route-level="Error" data-ajax-begin="HideModals" data-ajax-success="LogLevelChanged" data-ajax-failure="LogLevelFailed">Error</a>
                                            <a class="dropdown-item @(logRule.StratisActualLevel == LogLevel.Fatal ? "active":"")" data-ajax="true" asp-controller="StratisNode" asp-action="ChangeLogLevelAsync" asp-route-rule="@logRule" asp-route-level="Fatal" data-ajax-begin="HideModals" data-ajax-success="LogLevelChanged" data-ajax-failure="LogLevelFailed">Fatal</a>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <button class="btn @(logRule.SidechainActualLevel == LogLevel.Trace ? "btn-light":"btn-secondary") btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Side Chain
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item @(logRule.SidechainActualLevel == LogLevel.Trace ? "active":"")" data-ajax="true" asp-controller="SidechainNode" asp-action="ChangeLogLevelAsync" asp-route-rule="@logRule" asp-route-level="Trace" data-ajax-begin="HideModals" data-ajax-success="LogLevelChanged" data-ajax-failure="LogLevelFailed">Trace</a>
                                            <a class="dropdown-item @(logRule.SidechainActualLevel == LogLevel.Debug ? "active":"")" data-ajax="true" asp-controller="SidechainNode" asp-action="ChangeLogLevelAsync" asp-route-rule="@logRule" asp-route-level="Debug" data-ajax-begin="HideModals" data-ajax-success="LogLevelChanged" data-ajax-failure="LogLevelFailed">Debug</a>
                                            <a class="dropdown-item @(logRule.SidechainActualLevel == LogLevel.Info ? "active":"")" data-ajax="true" asp-controller="SidechainNode" asp-action="ChangeLogLevelAsync" asp-route-rule="@logRule" asp-route-level="Info" data-ajax-begin="HideModals" data-ajax-success="LogLevelChanged" data-ajax-failure="LogLevelFailed">Info</a>
                                            <a class="dropdown-item @(logRule.SidechainActualLevel == LogLevel.Warn ? "active":"")" data-ajax="true" asp-controller="SidechainNode" asp-action="ChangeLogLevelAsync" asp-route-rule="@logRule" asp-route-level="Warn" data-ajax-begin="HideModals" data-ajax-success="LogLevelChanged" data-ajax-failure="LogLevelFailed">Warn</a>
                                            <a class="dropdown-item @(logRule.SidechainActualLevel == LogLevel.Error ? "active":"")" data-ajax="true" asp-controller="SidechainNode" asp-action="ChangeLogLevelAsync" asp-route-rule="@logRule" asp-route-level="Error" data-ajax-begin="HideModals" data-ajax-success="LogLevelChanged" data-ajax-failure="LogLevelFailed">Error</a>
                                            <a class="dropdown-item @(logRule.SidechainActualLevel == LogLevel.Fatal ? "active":"")" data-ajax="true" asp-controller="SidechainNode" asp-action="ChangeLogLevelAsync" asp-route-rule="@logRule" asp-route-level="Fatal" data-ajax-begin="HideModals" data-ajax-success="LogLevelChanged" data-ajax-failure="LogLevelFailed">Fatal</a>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                }
                
                <p class="text-center text-muted small">⚠ Warning: Enabling Logging may increase memory and compute consumption</p>
            </div>
            <div class="modal-footer pt-0 pb-4">
                <button type="button" class="btn btn-outline-secondary mx-auto" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>