<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stratis Federated Sidechains Dashboard</title>
    <environment include="Development">
        <link href="~/css/default.css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="~/lib/font-awesome/css/all.css" />
        <link rel="stylesheet" type="text/css" href="~/lib/node-snackbar/dist/snackbar.css" />
        <link rel="stylesheet" type="text/css" href="~/lib/nprogress/nprogress.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" type="text/css" href="~/lib/font-awesome/css/all.min.css" />
        <link href="~/css/default.min.css" asp-append-version="true" rel="stylesheet" />
        <link href="~/css/default.bundle.min.css" asp-append-version="true" rel="stylesheet" />
    </environment>
    <link rel="icon" type="image/png" href="~/images/logo.png" />
</head>
<body>
    <partial name="Partials/MiningPubKeys" model="@(ViewBag.MiningPubKeys)" />
    <partial name="Partials/LogLevels" model="@(ViewBag.LogRules)" />
    <nav class="navbar navbar-dark bg-purple fixed-top">
        <a class="navbar-brand mr-4" href="https://stratisplatform.com/" target="_blank">
            <img src="~/images/logo_white.svg" width="30" height="30" class="d-inline-block align-top" alt="Stratis" />
        </a>
        <div class="navbar-text text-white">Stratis Federation Members Dashboard</div>
        <span class="badge badge-purple ml-auto">Status: <span class="status">@(ViewBag.Status ?? "Warning")</span></span>
    </nav>
    <nav class="navbar navbar-light bg-white py-1 fixed-top d-flex align-items-center" style="margin-top:56px;">
        <div class="navbar-text d-inline">
            <ul class="list-inline mb-0 d-flex align-items-center">
                <li class="list-inline-item text-dark">Mainchain wallet address</li>
                <li class="list-inline-item text-truncate">
                    @if (ViewBag.MainchainMultisigAddress != null)
                    {
                        <span id="mainchainMultisigAddress">@ViewBag.MainchainMultisigAddress</span>
                        <i role="copy" data-id="mainchainMultisigAddress" data-message="Mainchain Multisig Address successfully copied to clipboard" class="far fa-copy"></i>
                    }
                    else
                    {
                        @("Not Running")
                    }
                </li>
            </ul>
        </div>
        <div class="navbar-text d-inline">
            <ul class="list-inline mb-0 ml-5 ml-md-2 d-flex align-items-center">
                <li class="list-inline-item text-dark">Sidechain wallet address</li>
                <li class="list-inline-item text-truncate">
                    @if (ViewBag.SidechainMultisigAddress != null)
                    {
                        <span id="sidechainMultisigAddress">@ViewBag.SidechainMultisigAddress</span>
                        <i role="copy" data-id="sidechainMultisigAddress" data-message="Sidechain Multisig Address successfully copied to clipboard" class="far fa-copy"></i>
                    }
                    else
                    {
                        @("Not Running")
                    }
                </li>
            </ul>
        </div>
        <div class="navbar-text p-0 d-inline ml-auto">
            <ul class="list-inline mb-0 d-flex align-items-center">
                <!-- <li class="list-inline-item">
                    <a href="#"><i class="fas fa-vote-yea"></i>&nbsp; Federation Votes</a>
                </li> -->
                <li class="list-inline-item ml-4">
                    <a data-toggle="modal" data-target="#logLevels"><i class="fas fa-book"></i>&nbsp; Log Levels</a>
                </li>
                <li class="list-inline-item ml-4">
                    <a data-toggle="modal" data-target="#miningPublicKeys"><i class="fas fa-key"></i>&nbsp; Mining Public keys</a>
                </li>
            </ul>
        </div>
    </nav>
    <section class="container-fluid marginTop" id="container">
        @RenderBody()
    </section>
    <environment include="Development">
        <script type="text/javascript" src="~/lib/signalr/dist/browser/signalr.min.js"></script>
        <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script type="text/javascript" src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.min.js"></script>
        <script type="text/javascript" src="~/lib/node-snackbar/dist/snackbar.min.js"></script>
        <script type="text/javascript" src="~/lib/nprogress/nprogress.js"></script>
        <script type="text/javascript" src="~/js/default.js"></script>
    </environment>
    <environment exclude="Development">
        <script type="text/javascript" src="~/js/default.bundle.min.js"></script>
        <script type="text/javascript" src="~/js/default.min.js"></script>
    </environment>
    @RenderSection("Scripts", false)
</body>
</html>
