@model DashboardModel
@if(ViewBag.DisplayLoader == true)
{
   <partial name="Loader" />
}
<partial name="Modals" />
<div id="@(ViewBag.DisplayLoader == true ? "loading-content":"")">
   <div class="row my-2">
      <div class="col-lg-6 col-12">
         <div class="card mb-4">
            <div class="card-body">
               <div class="pb-3 mb-3">
                  <div class="mr-auto d-inline-block">
                     <h3>Stratis Node</h3>
                  </div>
                  <ul class="list-inline float-right d-flex align-items-center">
                     <li class="list-inline-item">
                        <span class="badge badge-@(Model.StratisNode.SyncingStatus >= 100 ? "success":"warning")">
                           <i class="material-icons">sync</i> @(Model.StratisNode.SyncingStatus >= 100 ? "Synced":"Syncing") @Model.StratisNode.SyncingStatus%
                        </span>
                     </li>
                     <li class="list-inline-item ml-3">
                        <div class="btn-group">
                           <button type="button" class="btn btn-option btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           <i class="material-icons md-24">more_vert</i>
                           </button>
                           <div class="dropdown-menu dropdown-menu-right">
                              <button data-toggle="modal" data-target="#stratisResyncCrosschain" class="dropdown-item" type="button">Resync crosschain transactions</button>
                              <button data-toggle="modal" data-target="#stratisResyncBlockchain" class="dropdown-item" type="button">Resync blockchain</button>
                              <div class="dropdown-divider"></div>
                              <button data-toggle="modal" data-target="#stratisStopNode" class="dropdown-item text-danger d-flex align-items-center" type="button">Stop Node</button>
                           </div>
                        </div>
                     </li>
                  </ul>
               </div>
               <div class="card-text">
                  <ul class="list-inline mb-0 row">
                     <li class="col-12 col-xl-6">
                        <ul class="list-inline">
                           <li class="list-inline-item"><strong>Web API URL :</strong></li>
                           <li class="list-inline-item"><a target="_blank" href="@Model.StratisNode.WebAPIUrl">@Model.StratisNode.WebAPIUrl</a></li>
                        </ul>
                     </li>
                     <li class="col-12 col-xl-6">
                        <ul class="list-inline">
                           <li class="list-inline-item"><strong>Swagger :</strong></li>
                           <li class="list-inline-item"><a target="_blank" href="@Model.StratisNode.SwaggerUrl">@Model.StratisNode.SwaggerUrl</a></li>
                        </ul>
                     </li>
                  </ul>
                  <ul class="list-inline mb-0 row">
                     <li class="col-12 col-xl-6">
                        <ul class="list-inline">
                           <li class="list-inline-item"><strong>Block height :</strong></li>
                           <li class="list-inline-item">@Model.StratisNode.BlockHeight</li>
                        </ul>
                     </li>
                     <li class="col-12 col-xl-6">
                        <ul class="list-inline d-flex align-itmes-center">
                           <li class="list-inline-item"><strong>Block hash :</strong></li>
                           <li class="list-inline-item text-truncate" style="max-width: 150px;">
                              <a href="https://chainz.cryptoid.info/strat/block.dws?@(Model.StratisNode.BlockHash).htm" id="stratisBlockHash" target="_blank">@Model.StratisNode.BlockHash</a>
                           </li>
                           <li class="list-inline-item"><i role="copy" data-id="stratisBlockHash" data-message="Block hash successfully copied to clipboard" class="far fa-copy"></i></li>
                        </ul>
                     </li>
                  </ul>
                  <ul class="list-inline mb-0 row">
                     <li class="col-12">
                        <ul class="list-inline">
                           <li class="list-inline-item"><strong>Mempool size :</strong></li>
                           <li class="list-inline-item text-muted">@Model.StratisNode.MempoolSize</li>
                        </ul>
                     </li>
                     <li class="col-12">
                        <ul class="list-inline">
                           <li class="list-inline-item"><strong>Wallet balance :</strong></li>
                           <li class="list-inline-item text-green">Confirmed: @Model.StratisNode.ConfirmedBalance.ToString("N8") @Model.StratisNode.CoinTicker</li>
                           <li class="list-inline-item text-muted">/</li>
                           <li class="list-inline-item text-muted">Unconfirmed: @Model.StratisNode.UnconfirmedBalance.ToString("N8") @Model.StratisNode.CoinTicker</li>
                        </ul>
                     </li>
                  </ul>
                  <label class="mt-3"><strong>Peers :</strong></label>
                  <table class="table table-sm table-striped">
                     <tbody>
                        @foreach(var peer in Model.StratisNode.Peers)
                        {
                           <tr>
                              <td class="text-left">@peer.Endpoint</td>
                              <td class="text-center">@peer.Type</td>
                              <td class="text-center">height:@peer.Height</td>
                              <td style="width: 250px;" nowrap class="text-left">agent:@peer.Version</td>
                           </tr>
                        }
                     </tbody>
                     <tfoot>
                        @if(Model.StratisNode.Peers.Count() == 0)
                        {
                           <tr>
                              <td colspan="4" class="text-center"><em>There no peers to display.</em></td>
                           </tr>
                        }
                     </tfoot>
                  </table>
                  <label><strong>Federation members :</strong></label>
                  <table class="table table-sm table-striped">
                     <tbody>
                        @foreach(var member in Model.StratisNode.FederationMembers)
                        {
                           <tr>
                              <td class="text-left">@member.Endpoint</td>
                              <td class="text-center">@member.Type</td>
                              <td class="text-center">height:@member.Height</td>
                              <td style="width: 250px;" nowrap class="text-left">agent:@member.Version</td>
                           </tr>
                        }
                     </tbody>
                     <tfoot>
                        @if(Model.StratisNode.FederationMembers.Count() == 0)
                        {
                           <tr>
                              <td colspan="4" class="text-center"><em>There no federation member to display.</em></td>
                           </tr>
                        }
                     </tfoot>
                  </table>
               </div>
            </div>
         </div>
         <div class="card mb-4">
            <div class="card-body">
               <div class="d-flex align-items-center mb-4">
                  <label class="d-flex justify-content-start">
                     <strong>History <small class="text-muted">(@(((JArray) Model.StratisNode.History).Count))</small></strong>
                  </label>
                  <span class="d-flex justify-content-end align-items-center ml-auto">
                     <a data-toggle="modal" data-target="#stratisHistory" class="btn btn-outline-primary">See all history</a>
                  </span>
               </div>
               <table class="table table-sm table-history">
                  <thead>
                     <tr>
                        <th class="text-center" scope="col">Status</th>
                        <th class="text-center" scope="col">Destination</th>
                        <th class="text-center" scope="col">Tx ID</th>
                        <th class="text-center" scope="col">Confirmed in Block</th>
                        <th class="text-center" scope="col">Amount</th>
                     </tr>
                  </thead>
                  <tbody>
                     @foreach(dynamic transaction in ((JArray)Model.StratisNode.History).Take(5).ToList())
                     {
                        <tr>
                           <td class="text-center"><i class="material-icons text-green md-18">check_circle</i></td>
                           <td class="text-center text-truncate"><code>@(transaction.withdrawal.targetAddress)</code></td>
                           <td class="text-left text-truncate" style="max-width: 110px;"><a href="https://chainz.cryptoid.info/strat/tx.dws?@(transaction.id).htm" target="_blank">@transaction.withdrawal.id</a></td>
                           <td class="text-center">@transaction.withdrawal.blockNumber</td>
                           <td class="text-right">@(((double)transaction.withdrawal.amount/100000000).ToString("N8")) @Model.StratisNode.CoinTicker</td>
                        </tr>
                     }
                  </tbody>
                  @if(((JArray)Model.StratisNode.History).Count == 0)
                  {
                     <tfoot>
                        <tr>
                           <td colspan="6" class="text-center"><em>There no transaction to display.</em></td>
                        </tr>
                     </tfoot>
                  }
               </table>
            </div>
         </div>
      </div>
      <div class="col-lg-6 col-12">
         <div class="card mb-4">
            <div class="card-body">
               <div class="pb-3 mb-3">
                  <div class="mr-auto d-inline-block">
                     <h3>Apex Node</h3>
                  </div>
                  <ul class="list-inline float-right d-flex align-items-center">
                     <li class="list-inline-item">
                        <span class="badge badge-@(Model.SidechainNode.SyncingStatus >= 100 ? "success":"warning")">
                           <i class="material-icons">sync</i> @(Model.SidechainNode.SyncingStatus >= 100 ? "Synced":"Syncing") @Model.SidechainNode.SyncingStatus%
                        </span>
                     </li>
                     <li class="list-inline-item ml-3">
                        <div class="btn-group">
                           <button type="button" class="btn btn-option btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           <i class="material-icons md-24">more_vert</i>
                           </button>
                           <div class="dropdown-menu dropdown-menu-right">
                              <button data-toggle="modal" data-target="#sidechainResyncCrosschain" class="dropdown-item" type="button">Resync crosschain transactions</button>
                              <button data-toggle="modal" data-target="#sidechainResyncBlockchain" class="dropdown-item" type="button">Resync blockchain</button>
                              <div class="dropdown-divider"></div>
                              <button data-toggle="modal" data-target="#sidechainStopNode" class="dropdown-item text-danger d-flex align-items-center" type="button">Stop Node</button>
                           </div>
                        </div>
                     </li>
                  </ul>
               </div>
               <div class="card-text">
                  <ul class="list-inline mb-0 row">
                     <li class="col-12 col-xl-6">
                        <ul class="list-inline">
                           <li class="list-inline-item"><strong>Web API URL :</strong></li>
                           <li class="list-inline-item"><a target="_blank" href="@Model.SidechainNode.WebAPIUrl">@Model.SidechainNode.WebAPIUrl</a></li>
                        </ul>
                     </li>
                     <li class="col-12 col-xl-6">
                        <ul class="list-inline">
                           <li class="list-inline-item"><strong>Swagger :</strong></li>
                           <li class="list-inline-item"><a target="_blank" href="@Model.StratisNode.SwaggerUrl">@Model.SidechainNode.SwaggerUrl</a></li>
                        </ul>
                     </li>
                  </ul>
                  <ul class="list-inline mb-0 row">
                     <li class="col-12 col-xl-6">
                        <ul class="list-inline">
                           <li class="list-inline-item"><strong>Block height :</strong></li>
                           <li class="list-inline-item">@Model.SidechainNode.BlockHeight</li>
                        </ul>
                     </li>
                     <li class="col-12 col-xl-6">
                        <ul class="list-inline d-flex align-itmes-center">
                           <li class="list-inline-item"><strong>Block hash :</strong></li>
                           <li class="list-inline-item text-truncate" style="max-width: 150px;">
                              <a href="https://chainz.cryptoid.info/strat/block.dws?@(Model.SidechainNode.BlockHash).htm" id="sidechainBlockHash" target="_blank">@Model.SidechainNode.BlockHash</a>
                           </li>
                           <li class="list-inline-item"><i role="copy" data-id="sidechainBlockHash" data-message="Block hash successfully copied to clipboard" class="far fa-copy"></i></li>
                        </ul>
                     </li>
                  </ul>
                  <ul class="list-inline mb-0 row">
                     <li class="col-12">
                        <ul class="list-inline">
                           <li class="list-inline-item"><strong>Mempool size :</strong></li>
                           <li class="list-inline-item text-muted">@Model.SidechainNode.MempoolSize</li>
                        </ul>
                     </li>
                     <li class="col-12">
                        <ul class="list-inline">
                           <li class="list-inline-item"><strong>Wallet balance :</strong></li>
                           <li class="list-inline-item text-green">Confirmed: @Model.SidechainNode.ConfirmedBalance.ToString("N8") @Model.SidechainNode.CoinTicker</li>
                           <li class="list-inline-item text-muted">/</li>
                           <li class="list-inline-item text-muted">Unconfirmed: @Model.SidechainNode.UnconfirmedBalance.ToString("N8") @Model.SidechainNode.CoinTicker</li>
                        </ul>
                     </li>
                  </ul>
                  <label class="mt-3"><strong>Peers :</strong></label>
                  <table class="table table-sm table-striped">
                     <tbody>
                        @foreach(var peer in Model.SidechainNode.Peers)
                        {
                           <tr>
                              <td class="text-left">@peer.Endpoint</td>
                              <td class="text-center">@peer.Type</td>
                              <td class="text-center">height:@peer.Height</td>
                              <td style="width: 250px;" nowrap class="text-left">agent:@peer.Version</td>
                           </tr>
                        }
                     </tbody>
                     <tfoot>
                        @if(Model.SidechainNode.Peers.Count() == 0)
                        {
                           <tr>
                              <td colspan="4" class="text-center"><em>There no peers to display.</em></td>
                           </tr>
                        }
                     </tfoot>
                  </table>
                  <label><strong>Federation members :</strong></label>
                  <table class="table table-sm table-striped">
                     <tbody>
                        @foreach(var member in Model.SidechainNode.FederationMembers)
                        {
                           <tr>
                              <td class="text-left">@member.Endpoint</td>
                              <td class="text-center">@member.Type</td>
                              <td class="text-center">height:@member.Height</td>
                              <td style="width: 250px;" nowrap class="text-left">agent:@member.Version</td>
                           </tr>
                        }
                     </tbody>
                     <tfoot>
                        @if(Model.SidechainNode.FederationMembers.Count() == 0)
                        {
                           <tr>
                              <td colspan="4" class="text-center"><em>There no federation member to display.</em></td>
                           </tr>
                        }
                     </tfoot>
                  </table>
               </div>
            </div>
         </div>
         <div class="card mb-4">
            <div class="card-body">
               <div class="d-flex align-items-center mb-4">
                  <label class="d-flex justify-content-start">
                     <strong>History <small class="text-muted">(@(((JArray) Model.SidechainNode.History).Count))</small></strong>
                  </label>
                  <span class="d-flex justify-content-end align-items-center ml-auto">
                     <a data-toggle="modal" data-target="#sidechainHistory" class="btn btn-outline-primary">See all history</a>
                  </span>
               </div>
               <table class="table table-sm table-history">
                  <thead>
                     <tr>
                        <th class="text-center" scope="col">Status</th>
                        <th class="text-center" scope="col">Destination</th>
                        <th class="text-center" scope="col">Tx ID</th>
                        <th class="text-center" scope="col">Confirmed in Block</th>
                        <th class="text-center" scope="col">Amount</th>
                     </tr>
                  </thead>
                  <tbody>
                     @foreach(dynamic transaction in ((JArray)Model.SidechainNode.History).Take(5).ToList())
                     {
                        <tr>
                           <td class="text-center"><i class="material-icons text-green md-18">check_circle</i></td>
                           <td class="text-center text-truncate"><code>@(transaction.withdrawal.targetAddress)</code></td>
                           <td class="text-left text-truncate" style="max-width: 110px;"><a href="https://chainz.cryptoid.info/strat/tx.dws?@(transaction.id).htm" target="_blank">@transaction.withdrawal.id</a></td>
                           <td class="text-center">@transaction.withdrawal.blockNumber</td>
                           <td class="text-right">@(((double)transaction.withdrawal.amount/100000000).ToString("N8")) @Model.SidechainNode.CoinTicker</td>
                        </tr>
                     }
                  </tbody>
                  @if(((JArray) Model.SidechainNode.History).Count == 0)
                  {
                     <tfoot>
                        <tr>
                           <td colspan="6" class="text-center"><em>There no transaction to display.</em></td>
                        </tr>
                     </tfoot>
                  }
               </table>
            </div>
         </div>
      </div>
   </div>
</div>
@section Scripts
{
   <script type="text/javascript">
   $(document).ready(function()
   {
      setTimeout(function () {
         $(".loader").fadeOut(function() {
            $("#loading-content").fadeIn();
         });
      }, 500);
   });
   </script>
}